*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	font: $font-weight-light $font-size $font-family;
	background: $color-background;
	min-height: 100%;
}

.container {
	width: clamp(43.75rem, 90vw, 70rem);
	margin: 0 auto;
	padding: 0 1em;
	position: relative;
}

svg,
img {
	max-width: 100%;
}

.active {
	background: $color-button;
	color: $color-row;
}

button > svg {
	pointer-events: none;
}

.disabled {
	background: $color-background;
	color: $color-text;
	font-weight: $font-weight-bold;
}

.contact-form-error {
	display: none;
	font-size: 80%;
	color: #ff0000c9;
	transition: all 0.4 ease;
}
.contact-form-error.is-active {
	display: block;
	animation: show 1s 1 normal 0 ease both;
}
.contact-form-error.is-radio {
	position: absolute;
	top: 1.2rem;
}

.flex {
	display: flex;
	position: relative;

	&-dir-c {
		flex-direction: column;
	}
	&-jc-sb {
		justify-content: space-between;
	}
	&-jc-sa {
		justify-content: space-around;
	}
	&-jc-c {
		justify-content: center;
	}
	&-ai-c {
		align-items: center;
	}
	&-ai-b {
		align-items: baseline;
	}
}

.none {
	display: none;
}
