$color-button: hsl(211, 100%, 50%);
$color-background: hsl(252, 22%, 95%);
$color-row: hsl(0, 0%, 99%);
$color-text: hsl(0, 0%, 0%);

$font-family: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight-light: 200;
$font-weight-bold: 400;
