.btn {
	border: none;
	background: transparent;

	> span {
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #807979;

		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&--submit {
		padding: 0.5em 1.4em;
		border: 0;
		border-radius: 8px;
		background: $color-button;
		color: $color-background;
		margin-left: auto;
	}
}
