button {
	border: none;
	background: transparent;

	> span {
		display: block;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #807979;

		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}
}
