.form {
	font-size: $font-size;
	font-family: $font-family-form;
	text-align: left;

	&__div {
		margin-bottom: 1.25em;

		label {
			color: $color-text-form;
			margin-bottom: 6px;
			font-weight: $font-weight-bolder;
		}

		&--gender {
			label {
				margin-right: 1rem;
			}
		}
	}

	&__radio {
		margin-right: 5px;
	}

	input:not([type='checkbox']) {
		padding: 8px 12px;
		box-shadow: $color-border;
		outline: none;
		border: 0;
		border-radius: 6px;
	}

	input::placeholder {
		color: $color-text-placeholder;
	}

	&__select {
		@extend input:not([type='checkbox']);

		&:required:invalid {
			color: $color-text-placeholder;
		}
		option {
			color: hsl(0, 0%, 0%);
		}
	}

	[required]:valid:not([type='radio']) {
		box-shadow: $color-border-success;
	}
}
