.table__radio {
	appearance: none;
	width: 1.0625rem;
	height: 1.0625rem;
	border-radius: 50%;
	cursor: pointer;
	border: 2px #645f5f solid;

	&:checked {
		background: hsl(120, 60%, 70%);
	}
}

.toggle {
	appearance: none;
	cursor: pointer;
	width: 2.75rem;
	height: 1.6rem;
	border-radius: 1rem;
	display: block;
	position: relative;
	margin: 0 1rem;
	border: 0.125rem solid lightgray;
	background: hsl(0, 0%, 94%);
	transition: all 0.2s ease;

	&::after {
		content: '';
		position: absolute;
		top: 0.125rem;
		left: 0.125rem;
		width: 1.1rem;
		height: 1.1rem;
		border-radius: 50%;
		background: white;
		box-shadow: 0 1px 2px hsla(0, 0%, 17%, 0.2);
		transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
	}

	&:checked {
		background: $color-button;
		&::after {
			transform: translateX(1.15rem);
		}
	}
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 6px;
	padding: 7px 30px;
	background: $color-row;
	color: #728095;
	transition: all 100ms linear;
}

.radio input:checked {
	color: #fff;
	background: #308ef3;
	box-shadow: 0 1px 1px #0000002e;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
