//Gotta refactor this
.table {
	padding-bottom: 30px;
	// overflow-x: auto;

	&__row {
		display: grid;
		grid-template-columns: 4fr repeat(3, 1fr) 2fr;
		grid-column-gap: 2em;
		padding: 0.7em 0 0.7em 0.5em;
	}

	&__body {
		display: grid;
		grid-template-rows: auto;
		grid-gap: 1.5em;
		margin-top: 1em;

		.table__row {
			border-radius: 0.9375rem;
			background: $background;
		}
	}

	&__cell {
		display: grid;
		place-items: center;
		align-self: center;

		> span {
			padding: 0.3em 0.7em;
			border-radius: 21px;
		}

		&:nth-of-type(1) {
			position: sticky;
			left: 0;
			width: 100%;
			grid-template-columns: 45px 1fr;
			justify-self: start;
			grid-gap: 0.9em;

			label {
				margin-right: auto;
			}
		}
		&:last-of-type {
			margin-left: auto;
		}

		.name {
			font-weight: $font-weight-bold;
		}
	}

	&__head {
		font-weight: $font-weight-bold;
	}

	// &__td {
	// }
}
