@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 200 16px "Poppins", sans-serif;
  background: #f1eff5;
  min-width: 100vh;
  min-height: 100vh;
}

.container {
  width: clamp(43.75rem, 90vw, 70rem);
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}

svg,
img {
  max-width: 100%;
}

.active {
  background: #007bff;
  color: #fcfcfc;
}

.disabled {
  background: #f1eff5;
  color: black;
  font-weight: 400;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table {
  padding-bottom: 30px;
}

.table__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 27px 4fr (1fr)[3] 2fr;
      grid-template-columns: 27px 4fr repeat(3, 1fr) 2fr;
  grid-column-gap: 2em;
  padding: 0.7em 0 0.7em 0.5em;
}

.table__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5em;
  margin-top: 1em;
}

.table__body .table__row {
  border-radius: 0.9375rem;
  background: #fff;
}

.table__cell {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.table__cell > span {
  padding: 0.3em 0.7em;
  border-radius: 21px;
}

.table__cell:nth-of-type(2) {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-columns: 45px 1fr;
      grid-template-columns: 45px 1fr;
  grid-gap: 0.9em;
}

.table__cell:last-of-type {
  margin-left: 56%;
}

.table__head {
  font-weight: 400;
}

.header {
  width: 100%;
  padding: 5rem 0;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.header button {
  background: #007bff;
  color: #fcfcfc;
  border: 0;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px;
}

.btn {
  border: none;
  background: transparent;
}

.btn > span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #807979;
}

.btn > span:not(:last-child) {
  margin-bottom: 3px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  cursor: pointer;
  border: 2px #645f5f solid;
}

input[type='checkbox']:checked {
  background: #83e083;
}

.overlay {
  position: absolute;
  inset: 0px;
  background: rgba(0, 0, 0, 0.692);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .modal {
  width: clamp(20rem, 90vw, 60%);
  background: white;
}
/*# sourceMappingURL=main.css.map */